.responsive-img {
  width: 100%;
  height: auto;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 2em;
  color: #fff;
  line-height: 200px;
  text-align: center;
  background: #006bd6bd;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
