<div class="container margin-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title text-center who-are-font">Type de votre site?</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 pointer hvr-bounce-in" (click)="estimateService.parentType = 'type_web_e_commerce'"
            data-aos="fade-right">
            <mat-card>
                <div class="d-flex justify-content-center">
                    <img src="/assets/content/e-com.png" class="max-width-2">
                </div>
                <div class="text-center">
                    <h1 class="who-are-font">E-commerce</h1>
                </div>
            </mat-card>
        </div>
        <div class="col-md-6 pointer hvr-bounce-in" data-aos="fade-left"
            (click)="estimateService.parentType = 'type_web_vitrine'">
            <mat-card>
                <div class="d-flex justify-content-center">
                    <img src="/assets/content/vitrine.png" class="max-width-2">
                </div>
                <div class="text-center">
                    <h1 class="who-are-font">Site-vitrine</h1>
                </div>
            </mat-card>
        </div>
    </div>
</div>