.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-card {
  margin: 10px 0px 10px 0px;
}

.mat-card-image {
  width: 100%;
  margin: 0 -16px 16px -16px;
  height: auto;
  /* text-align: center; */
}

.beauty {
  font-size: 1.2em;
  text-shadow: 2px 2px 8px #0000008a;
}

ul {
  list-style-type: none;
  color: black;
}
ul li:before {
  content: "\2014";
  position: absolute;
  margin-left: -20px;
}

//code mahery
html {
  scroll-behavior: smooth;
}
.maincont {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #121316;
}

.mytyle {
  font-size: 25px;
  color: #ffea8b;
}

.divider {
  height: 2px;
  background-color: #ffea8b;
}

.mydescrip {
  font-size: 20px;
  color: #ffffff;
}

.cardcontainer {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.mycard {
  max-width: 250px;
  border-radius: 10px;
  margin: 10px;
}

.cardbt {
  border-radius: 24px;
  background-color: #3f68b2;
  border-color: #3f68b2;
}
.hvr-grow-shadow {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow, transform;
transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

