<!-- <div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      {{ this.commonService.dataFromDb.our_comp[0]?.title1 }}
    </h1>
    <p class="text-center gris-font beauty">
      {{ this.commonService.dataFromDb.our_comp[0]?.description }}
    </p>
  </div>
</div>
<br />
<div class="row">
  <ng-container
    *ngIf="this.commonService.dataFromDb.our_comp[0]?.childs.length > 0"
  >
    <div
      class="col-md-4"
      data-aos="zoom-in"
      *ngFor="let child of this.commonService.dataFromDb.our_comp[0].childs"
    >
      <mat-card class="example-card hvr-grow-shadow">
        <mat-card-header>
          <mat-card-title>{{ child.titre1 }}</mat-card-title>
          <mat-card-subtitle>{{ child.titre2 }}</mat-card-subtitle>
        </mat-card-header>
        <div class="text-center">
          <img
            mat-card-image
            src="{{ child.img | linkAssets }}"
            alt="Photo of a Shiba Inu"
          />
        </div>
        <mat-card-content>
          <h3 class="text-center">
            <strong>
              {{ child.description }}
            </strong>
          </h3>
          <br />
          <ul>
            <ng-container *ngFor="let item of child.contentChildren">
              <li>{{ item.title1 }}</li>
            </ng-container>
          </ul>
          <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" class="hvr-outline-out">
              En savoir plus
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div> -->
<!-- CODE VAOVAO (mahery) -->
<div data-pg-name="maincont" class="maincont d-flex flex-column justify-content-center align-items-center" data-pg-collapsed id="firsthead">
  <div class="container d-flex flex-column justify-content-between align-items-center">
      <div class="container" data-pg-collapsed>
          <p class="text-center mytyle">{{ this.commonService.dataFromDb.our_comp[0]?.title1 }}</p>
          <div class="divider"></div>
      </div>
      <div class="container" style="margin-top: 30px;" data-pg-collapsed>
          <p class="text-center mydescrip">{{ this.commonService.dataFromDb.our_comp[0]?.description }}</p> 
      </div>
      <div class="container cardcontainer d-flex flex-wrap flex-row justify-content-around"
      data-pg-name="cardcontainer" data-pg-collapsed>
        <div *ngFor="let child of this.commonService.dataFromDb.our_comp[0].childs; let i = index" data-aos="zoom-in">
          <div class="card text-center mycard hvr-grow-shadow" >
              <div class="card-body">
                  <img src="{{ child.img | linkAssets }}" style="width: 100%; margin-bottom: 20px;" />
                  <div class="divider"></div>
                  <h4 class="card-title" style="margin-top: 7px;">{{ child.description }}</h4>
                  <p *ngFor="let item of child.contentChildren" class="card-text">{{ item.title1 }}</p>
                  <a [routerLink]="'/web-create'" [state]="{}" class="btn btn-primary cardbt">En savoir plus</a>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
