<!-- <br>
<div class="container creation">
  <div class="row">
    <div class="col-md-6">
      <div id="slider">
        <figure>
          <ng-container *ngFor="let child of this.commonService.dataFromDb.about_slide[0]?.childs">
            <img src="{{child.img | linkAssets}}">
          </ng-container>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <mat-card>
        <h1>
          <strong>{{this.commonService.dataFromDb.about_slide[0]?.title1}}</strong>
        </h1>
        <p>{{this.commonService.dataFromDb.about_slide[0]?.description}}</p>
        <button mat-raised-button color="primary">Lire +</button>
      </mat-card>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 text1">
      <p>
        <strong>Notre équipe</strong>
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <ng-container *ngFor="let team of allTeam">

      <div class="col-md-4 cont">
        <div class="card" style=" padding: 15px; margin-top: 25px;">
          <img src="{{ team.image | linkAssets }}" style="width: 100%; height: auto;" class="image">
        </div>
        <div class="overlay">
          <div class="text">

            <h2>{{team.name}}</h2>
            <p class="title">{{team.role}}</p>
            <div class="d-flex justify-content-end">
              <button mat-raised-button (click)="openBottomSheet(team)"> CV
              </button>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
  </div>
  <div class="bg">
    <div class="container"><br>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <h1>
              <strong>{{this.commonService.dataFromDb.about_feature[0]?.title1}}</strong>
            </h1>
            <p>{{this.commonService.dataFromDb.about_feature[0]?.description}}
            </p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <ng-container *ngFor="let child of this.commonService.dataFromDb.about_feature[0]?.childs">
          <div class="col-md-3 text-center" data-aos="flip-right">
            <div class="d-flex justify-content-center">
              <img src="{{child.img | linkAssets}}" alt="" class="img-s-a"></div>
            <h1>{{child.title1}}</h1>
            <p>{{child.description}}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->

<!-- NEW CODE -->

<div class="mbacground">
<div data-pg-name="maincontainer" class="maincontainer" data-pg-collapsed>
  <ngb-carousel>
    <ng-template *ngFor="let child of this.commonService.dataFromDb.about_slide[0]?.childs" ngbSlide>
      <div class="carousellcont" [style]="'background-image: url(child.img | linkAssets);'">
        <img src="{{child.img | linkAssets}}" class="carimg">
        <div class="carousel-caption">
          <h3>slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- <div id="carouselExampleCaptions" class="carousel slide h-25" data-ride="carousel" data-pg-collapsed>
      <ol class="carousel-indicators" data-pg-collapsed>
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner h-100" data-pg-collapsed>
          <div class="carousel-item active h-100" *ngFor="let child of this.commonService.dataFromDb.about_slide[0]?.childs" data-pg-collapsed>
              <img class="d-block w-100" alt="First slide" src="{{child.img | linkAssets}}" />
              <div class="carousel-caption d-none d-md-block">
                  <h3>slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
          </div>
      </div>
      <a class="carousel-control-prev h-100" href="#carouselExampleCaptions" role="button" data-slide="prev" data-pg-collapsed> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
      <a class="carousel-control-next h-100" href="#carouselExampleCaptions" role="button" data-slide="next" data-pg-collapsed> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
  </div> -->
  <div class="container mainbody" data-pg-name="mainbody" data-pg-collapsed style="background-color: #ffffff;">
      <div class="container" data-pg-name="info" style="padding-top: 15px;" data-pg-collapsed>
          <p style="color: #005ea5; font-size: 25px;">{{this.commonService.dataFromDb.about_slide[0]?.title1}}</p>
          <p>{{this.commonService.dataFromDb.about_slide[0]?.description}}</p>
          <div class="container d-flex flex-row-reverse">
              <button type="button" class="btn btn-info">Lire plus ...</button>
          </div>
      </div>
      <div class="container" data-pg-collapsed>
          <div class="container d-flex flex-row justify-content-around align-items-center" data-pg-name="equipetitle" style="margin-top: 20px;margin-bottom: 20px;" data-pg-collapsed>
              <div data-pg-name="hstyle" style="width: 30%;height: 3px;background-color: #005ea5;"></div>
              <p style="color: #005ea5; font-size: 20px;">Notre équipe</p>
              <div data-pg-name="hstyle" style="width: 30%;height: 3px;background-color: #005ea5;"></div>
          </div>
          <div class="container d-flex flex-row flex-wrap justify-content-center" data-pg-name="cardcontainer">
              <div style="max-width: 250px; margin-top: 25px; margin-bottom: 25px;" *ngFor="let team of allTeam; let i = index">
                  <div *ngIf="cardswitch[i].top" data-pg-name="spacertop" style="height: 100px;"></div>
                  <div data-pg-name="imcont" class="d-flex justify-content-center align-items-center" style="height: 200px;" data-pg-collapsed>
                      <img class="card-img-top" alt="Card image cap" src="{{ team.image | linkAssets }}" style="min-width: 100%;min-height: 100%;" />
                  </div>
                  <div class="card-body d-flex flex-column justify-content-center" [style]="getCardColor()" data-pg-collapsed>
                      <p style="font-style: italic;font-size: 18px;color: #fff89f;">{{team.name}}</p>
                      <p class="card-text" style="color: #ffffff;">{{team.role}}</p>
                      <button type="button" class="btn btn-light" (click)="openBottomSheet(team)">C.V</button>
                  </div>
                  <div *ngIf="cardswitch[i].botomn" data-pg-name="spacerbotom" style="height: 100px;"></div>
              </div>
          </div>
      </div>
      
  </div>
  <div data-pg-name="bascont" class="d-flex flex-row justify-content-around" style="background-color: #238fcf;padding-top: 15px;padding-bottom: 15px;" data-pg-collapsed>
    <div class="container d-flex flex-column">
        <p style="font-size: 25px;color: #fff89f;">{{this.commonService.dataFromDb.about_feature[0]?.title1}}</p>
        <p style="color: #ffffff;">{{this.commonService.dataFromDb.about_feature[0]?.description}}</p>
    </div>
    <div data-pg-name="separator" style="background-color: #fff89f;width: 8px;"></div>
    <div class="container d-flex flex-column" data-pg-collapsed *ngFor="let child of this.commonService.dataFromDb.about_feature[0]?.childs">
        <div class="container d-flex flex-column justify-content-center align-items-center" data-pg-name="imgcont">
            <img src="{{child.img | linkAssets}}" style="height: 50px;">
        </div>
        <p style="font-size: 25px;color: #fff89f;">{{child.title1}}</p>
        <p style="color: #ffffff;">{{child.description}}</p>
    </div>
</div>
</div>
</div>