.max-width {
  width: 100%;
}
.name {
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
}
.bg {
  background-color: white;
  color: gray;
}

.img-s-a {
  width: 50%;
  height: auto;
}

.text1 {
  font-size: 50px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #efefef;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
   transform-style: preserve-3d;
}

// .flip-box:hover .flip-box-inner {
//   transform: rotateY(180deg);
// }
// .card:hover .flip-box-inner {
//   transform: rotateY(180deg);
// }

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

.in-btn {
  background-color: #0287d1;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
#toaffich{
  margin-left: 450px;
}
.cont {
  position: relative;
  width: 50%;

  margin-top: 25px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #3468c2;
  overflow: hidden;
  width: 96%;
  height:0;
  transition: .5s ease;
}

.cont:hover .overlay {
  bottom: 0;
  height: 90%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  width:300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.creation{
  margin-top: 75px;
}
.mbacground{
  width: 100%;
  background-image: url('pexels-tranmautritam-326501.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: contain;
}
.maincontainer{
  background-color: rgba(0, 0, 0, 0.801);
}
.carimg{
  width: 100%;
}
.carousellcont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 300px;
  overflow: hidden;
}