<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <img src="{{ linkAsset(data.image) }}" style="width:100%">
    </div>

    <div class="col-md-6">
      <br>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{data.name}}</li>
        <li class="list-group-item">{{data.role}}</li>
      </ul>
    </div>
  </div>
  <br>
  <mat-divider></mat-divider>
  <div class="row">
    <br>
    <div class="col-md-6">
      <div class="competence">
        <br>
        <h1>MES COMPETENCES</h1>
        <p>{{data.competence}}</p>
        <br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="w3-container">
        <br>
        <ng-container *ngFor="let item of data.competences">
          <p>{{item.name}}</p>
          <div class="w3-light-grey">
            <div class="w3-container w3-green w3-center" [ngStyle]="{'width':item.note +'%'}" style="width:90%">
              {{item.note}}%</div>
          </div><br>
        </ng-container>
      </div>
    </div>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h1>MES ETUDES</h1>
      <p>{{data.etude}}</p>
      <br>
    </div>
    <div class="col-md-6">
      <h2> PARCOURS UNIVERSITAIRES</h2>
      <br>
      <ng-container *ngFor="let item of data.etudes">
        <p>{{item.university}} </p>
        <p><strong>DIPLOMES</strong></p>
      </ng-container>
      <br>
    </div>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h1>MES EXPERIENCES</h1>
      <p>{{data.experience}}</p>
      <br>
    </div>
    <div class="col-md-6">
      <h2> EXPERIENCES PROFESSIONNELS</h2>
      <ng-container *ngFor="let item of data.experiences">
        <p> <strong>{{item.entreprise}}</strong> pendant  {{item.durre}} Mois</p>
      </ng-container>
    </div>
  </div>
</div>