<div class="container margin-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title text-center who-are-font">Fonctionnalité voulue?</h1>
        </div>
    </div>
    <mat-card data-aos="fade-right">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <button mat-raised-button color="primary"
                    class="total-button">{{estimationService.total | currency:'EUR'}}</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <ng-container *ngFor="let item of estimationService.estimateLists;let index = index">
                    <ng-container *ngIf="index%2 === 0">
                        <div class="row">
                            <div class="col-md-12 botom-10">
                                <mat-slide-toggle [(ngModel)]="estimationService.estimateLists[index].isChecked"
                                    color="primary" (change)="estimationService.flushPrice()">{{item.name}}
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <div class="col-md-6">
                <ng-container *ngFor="let item of estimationService.estimateLists;let index = index">
                    <ng-container *ngIf="index%2 !== 0">
                        <div class="row">
                            <div class="col-md-12 botom-10">
                                <mat-slide-toggle [(ngModel)]="estimationService.estimateLists[index].isChecked"
                                    color="primary" (change)="estimationService.flushPrice()">{{item.name}}
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="row" *ngIf="!estimationService.isDesign">
            <div class="col-md-12 d-flex justify-content-center">
                <button mat-raised-button color="primary" *ngIf="!estimationService.isDesign && !estimationService.isLevel" (click)="estimationService.isDesign = true">Suivant</button>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="estimationService.isDesign" data-aos="fade-up">
        <mat-divider></mat-divider>
        <app-design></app-design>
        <div class="col-md-12 d-flex justify-content-center" *ngIf="!estimationService.isLevel">
            <button mat-raised-button color="primary" (click)="estimationService.isLevel = true">Suivant</button>
        </div>
    </mat-card>
    <mat-card *ngIf="estimationService.isLevel" data-aos="fade-up">
        <mat-divider></mat-divider>
        <ng-container>
            <app-level></app-level>
        </ng-container>
    </mat-card>
</div>