<header class="header-area">
  <nav class="navbar navbar-expand-md navbar-dark" style="z-index: 10">
    <div class="container-fluid">
      <img src="assets/images/LOGOTYPE3-bis_SOFTANDDATA.png" class="logo-head" />
      <a href="#" class="navbar-brand hvr-wobble-skew aileron" data-aos="fade-right"><span
          style="color: #34afc2">SOFT</span>
        <span style="color: #3468c2"> & </span>
        <span style="color: #34c28e">DATA</span></a>

      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
      </button>

      <div id="main-nav" class="collapse navbar-collapse" data-aos="fade-left">
        <ul class="navbar-nav ml-auto">
          <li>
            <a [routerLink]="'/home'" class="nav-item nav-link" routerLinkActive="active"
              #homeActive="routerLinkActive">Accueil</a>
          </li>
          <li class="dropdown">
            <a class="nav-item nav-link" data-toggle="dropdown" routerLinkActive="active"
              style="cursor: pointer">Créations</a>
            <div class="dropdown-menu">
              <a [routerLink]="'/web-create'" class="dropdown-item" routerLinkActive="active"
                (click)="doAutoScrol(); commonService.isWebCreate = true">Création site internet et Application</a>
              <a [routerLink]="'/web-create'" class="dropdown-item" routerLinkActive="active"
                (click)="doAutoScrol(); commonService.isWebCreate = false">Créations graphiques</a>
            </div>
          </li>
          <li>
            <a [routerLink]="'/processus'" class="nav-item nav-link" routerLinkActive="active"
              fragment="test">Processus</a>
          </li>
          <!-- <li class="dropdown">
            <a [routerLink]="'/home'" class="nav-item nav-link" data-toggle="dropdown">Informations</a>
            <div class="dropdown-menu">
              <a [routerLink]="'/portfolio'" class="dropdown-item" routerLinkActive="active">Portfolio</a>
              <a [routerLink]="'/gallery'" class="dropdown-item" routerLinkActive="active">Galerie</a>
            </div>
          </li> -->
          <li>
            <a [routerLink]="'/about'" class="nav-item nav-link">A propos</a>
          </li>
          <li>
            <!-- <a [routerLink]="'/commerce'" class="nav-item nav-link" routerLinkActive="active">Tech</a> -->
          </li>

          <li>
            <a [routerLink]="'/contact'" class="nav-item nav-link" routerLinkActive="active" fragment="test">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <app-intro [logoLink]="'assets/images/LOGOTYPE3-bis_SOFTANDDATA.png'"></app-intro> -->
  <!-- <div class="" [ngClass]="{ 'banner-heigth': homeActive.isActive !== true }">
    <div class="banner-back" [ngClass]="{ hide: homeActive.isActive !== true }">
      <div class="nav-cont">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-6 col-sm-12 px-5 section-left">
            <div class="container">
              <h1 class="text-center vibrate-2 text-shadow-pop-right" style="color: white">
                SOFT & DATA
              </h1>
              <p class="text-justify text-shadow-drop-bottom" style="color: white; font-size: 1.2em">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                voluptatum officia molestiae expedita eius eos fugit explicabo
                quo est odit quasi veritatis quis, magnam, voluptas amet, porro
                ratione. Commodi, numquam.
              </p>
              <br />

              <div class="container">
                <div class="d-flex justify-content-around">

                  <button class=" btn btn-colored" (click)="openDialog()">
                    Poster une demande de devis
                  </button>



                  <button class="btn btn-colored2 text-center" [routerLink]="'./estimate'">
                    Estimez votre projet
                  </button>


                </div>
              </div>

            </div>
          </div>

          <div class="right-section col-md-6 px-5">
            <div class="container">
              <img class="gear1-img" src="assets/navbar/gear1.svg" />
              <img class="gear2-img" src="assets/navbar/gear2.svg" />
              -- <img src="assets/navbar/anim.gif" class="anim-gif kenburns-bottom-right">
                            <img src="assets/navbar/right.png" class="anim-gif kenburns-bottom-right heartbeat">--
              <img style="opacity: 0.8;" src="assets/navbar/anim3.gif" class="pull-right" />
            </div>
          </div>

        </div>


      </div>
    </div>
  </div> -->
  <!-- <div class="carousel slide" id="main-carousel" data-ride="carousel" *ngIf="homeActive.isActive">
            <ol class="carousel-indicators">
                <ng-container *ngFor="let count of commonService.dataFromDb.slide[0]?.childs;let index = index">
                    <ng-container *ngIf="index === 0">
                        <li data-target="#main-carousel" attr.data-slide-to="{{index}}" class="active add-shadow"></li>
                    </ng-container>
                    <ng-container *ngIf="index !== 0">
                        <li data-target="#main-carousel" attr.data-slide-to="{{index}}" class="add-shadow"></li>
                    </ng-container>
                </ng-container>
            </ol>
            <div class="carousel-inner">
                <ng-container *ngIf="commonService.dataFromDb.slide[0].childs.length > 0">
                    <ng-container *ngFor="let child of commonService.dataFromDb.slide[0]?.childs;let index = index">
                        <ng-container *ngIf="index === 0">
                            <div class="carousel-item active">
                                <img class="img-fluid" src="{{child.img | linkAssets}}" alt="">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000"
                                        class="title-1 margin-bottom-plus header-font" style="margin-bottom: 50px;">
                                        {{child.title1}}</h1>
                                    <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000"
                                        class="title-2 margin-bottom-plus header-font text-header">
                                        {{child.description}}</p>

                                    <button class="btn btn-warning" (click)="openDialog()">Poster une demande de
                                        devis</button>
                                    <button class="btn btn-primary marge" [routerLink]="'./estimate'">Estimez votre
                                        projet</button>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="index !== 0">
                            <div class="carousel-item">
                                <img class="img-fluid" src="{{child.img | linkAssets}}" alt="">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000"
                                        class="title-1 margin-bottom-plus header-font" style="margin-bottom: 50px;">
                                        {{child.title1}}</h1>
                                    <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000"
                                        class="title-2 margin-bottom-plus header-font text-header">
                                        {{child.description}}</p>
                                    <button class="btn btn-warning" (click)="openDialog()">Poster une demande de
                                        devis</button>
                                    <button class="btn btn-primary marge" [routerLink]="'./estimate'">Estimez votre
                                        projet</button>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
            <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
                <button mat-fab color="primary" class="color-n">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only add-shadow" aria-hidden="true">Prev</span>
                </button>
            </a>
            <a href="#main-carousel" class="carousel-control-next" data-slide="next">
                <button mat-fab color="primary" class="color-n">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only add-shadow" aria-hidden="true">Next</span>
                </button>
            </a>
        </div> -->
</header>