<div class="contact1" id="#test" #test>
    <div class="container-contact1">
        <div class="contact1-pic js-tilt hvr-buzz" data-tilt data-aos="zoom-in-right">
            <img src="assets/images/img-01.png" alt="IMG">
        </div>
        <form class="contact1-form validate-form" data-aos="zoom-in-left" [formGroup]="contactValue"
            (ngSubmit)="onSubmit()">
            <span class="contact1-form-title">
                Nous contacter
            </span>

            <div class="wrap-input1 validate-input" data-validate="Name is required">
                <input class="input1" type="text" name="name" placeholder="Nom" formControlName="name"
                    [class.invalid]="contactValue.get('name').invalid && contactValue.get('name').touched">
                <div
                    *ngIf="(contactValue.get('name').invalid && contactValue.get('name').touched) || contactValue.get('name').dirty">
                    <small *ngIf="contactValue.get('name').errors?.required" class="text-danger"
                        style="margin-left: 20px;">Ce champ est
                        obligatoire</small>
                </div>
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input1" type="text" name="email" placeholder="Email" formControlName="email"
                    [class.invalid]="contactValue.get('email').invalid && contactValue.get('email').touched">
                <span class="shadow-input1"></span>
                <div
                    *ngIf="(contactValue.get('email').invalid && contactValue.get('email').touched) || contactValue.get('email').dirty">
                    <small *ngIf="contactValue.get('email').errors?.required" class="text-danger"
                        style="margin-left: 20px;">Ce champ est
                        obligatoire</small>
                    <small *ngIf="contactValue.get('email').errors?.email" class="text-danger"
                        style="margin-left: 20px;">Veillez saisir une
                        adresse valide
                        (email)</small>
                </div>
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Subject is required">
                <input class="input1" type="text" name="subject" placeholder="Sujet" formControlName="subject"
                    [class.invalid]="contactValue.get('subject').invalid && contactValue.get('subject').touched">
                <div
                    *ngIf="(contactValue.get('subject').invalid && contactValue.get('subject').touched) || contactValue.get('subject').dirty">
                    <small *ngIf="contactValue.get('subject').errors?.required" class="text-danger"
                        style="margin-left: 20px;">Ce champ est
                        obligatoire</small>
                </div>
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Message is required">
                <textarea class="input1" name="message" placeholder="Message" formControlName="message"
                    [class.invalid]="contactValue.get('message').invalid && contactValue.get('message').touched"></textarea>
                <div
                    *ngIf="(contactValue.get('message').invalid && contactValue.get('message').touched) || contactValue.get('message').dirty">
                    <small *ngIf="contactValue.get('message').errors?.required" class="text-danger"
                        style="margin-left: 20px;">ce champ est
                        obligatoire</small>
                </div>
                <span class="shadow-input1"></span>
            </div>
            <div class="container-contact1-form-btn" *ngIf="contactValue.valid">
                <button class="contact1-form-btn" type="submit">
                    <span>
                        Envoyer
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>