<br>
<div class="row design">
    <div class="col-md-12">
        <h1 class="text-center who-are-font">Concernant le design</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <mat-radio-group aria-label="Concérnant le design" [(ngModel)]="estimateService.levelValue"
            (change)="estimateService.flushPrice()">
            <mat-radio-button [value]="estimateService.idea" class="margin-75" color="primary">C'est juste une idée
            </mat-radio-button>
            <mat-radio-button [value]="estimateService.draft" class="margin-75" color="primary">Brouillon déja prêt</mat-radio-button>
            <mat-radio-button [value]="estimateService.progress" class="margin-75" color="primary">Projet en cours de développement</mat-radio-button>
            <mat-radio-button [value]="estimateService.maintenance" color="primary">Projet déja développé</mat-radio-button>
        </mat-radio-group>
    </div>
</div>