<div class="text-center bg">
	<h1 class="padd">Poster une demande de devis
	</h1>
</div>
<form [formGroup]="quotationAskData" (ngSubmit)="submitForm()">
	<div class="form-group row">
		<label for="nomsociété" class="col-sm-2 col-form-label">Nom société *</label>

		<div class="col-sm-10">
			<input type="email" class="form-control" id="nomsociété" formControlName="societyName">
		</div>
	</div>
	<div class="form-group row">
		<label for="nominterlocuteur" class="col-sm-2 col-form-label">Nom interlocuteur *</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="nominterlocuteur" formControlName="interlocutorName">
		</div>
	</div>
	<div class="form-group row">
		<label for="inputEmail3" class="col-sm-2 col-form-label">Email *</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="inputEmail3" placeholder="ex:a@gmail.com" formControlName="mail">
		</div>
	</div>
	<div class="form-group row">
		<label for="tel" class="col-sm-2 col-form-label">Téléphone *</label>
		<div class="col-sm-10">
			<input type="tel" class="form-control" id="tel" placeholder="ex:261335896577" formControlName="tel">
		</div>
	</div>
	<div class="form-group row">
		<label for="text" class="col-sm-2 col-form-label">Nature du besoin</label>
		<div class="col-sm-10">
			<textarea name="text" id="text" cols="85" rows="4" class="form-control" formControlName="natureOfNeed"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label for="text" class="col-sm-2 col-form-label">Fichier cahier des charges *</label>
		<div class="col-sm-10">
			<input type="file" (change)="onFileChange($event)" formControlName="files" multiple>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Valider</button>
			<button type="button" class="btn btn-primary marge">Réinitialiser</button>
		</div>
	</div>
</form>