<div class="bg">
  <br>
  <h1 class="text-center"><strong>{{this.commonService.dataFromDb.gallery[0]?.title1}}</strong></h1>
  <br>
  <div class="sliderFrame">
    <div class="slider">
      <ng-container *ngIf="this.commonService.dataFromDb.gallery[0]?.childs.length > 0">
        <ng-container *ngFor="let child of this.commonService.dataFromDb.gallery[0]?.childs">
          <img src="{{child.img | linkAssets}}" />
        </ng-container>
      </ng-container>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <ng-container *ngIf="this.commonService.dataFromDb.gallery[0]?.childs.length > 0">
        <ng-container *ngFor="let child of this.commonService.dataFromDb.gallery[0]?.childs">
          <!-- <div class="col-md-3 g">
            <img class="img showbox slideright" src="{{child.img | linkAssets}}" style="width: 100%; height:150px" />
            <div class="middle">
              <div class="text">{{child.title1}}</div>
            </div>
          </div> -->
          <div class="col-md-3">
            <img class="img showbox slideright" src="{{child.img | linkAssets}}" style="width: 100%; height:150px" />
          </div>
        </ng-container>
      </ng-container>
      <br>
    </div>
  </div>
  <br>
</div>