.navBulletsWrapper {
  display: none !important;
}
.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  padding: 16px 32px;
}
.g{
  margin-bottom: 10px;
}
.g:hover .img {
  opacity: 0.5;
}
.g:hover .middle {
  opacity: 1;
}
.bg {
  background-color: aliceblue;
}

.bgLayer {
  background-position: center center !important;
  background-size: cover !important;
}

.showbox {
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.showbox.slideright:hover {
  -webkit-transform: translate(2em, 0);
  -moz-transform: translate(2em, 0);
  -o-transform: translate(2em, 0);
  -ms-transform: translate(2em, 0);
  transform: scale(2);
  position: relative;
  z-index: 1000;
}