.maincontainer {
    width: 100%;
    height: 100vh;
}

.myintro {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
}

.mytitle {
    width: 500px;
    height: 116px;
    border: 7px solid #73d0f5;
}

.mytitletext {
    color: #ffffffff;
    font-weight: normal;
    font-size: 87px;
    font-family: bebas;
    margin-bottom: 5px;
}

@font-face {
    font-family: bebas;
    src: url(../../../assets/font/Bebas-Regular.otf);
}

.sectitle {
    color: #fefefe;
    font-size: 43px;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height:45px;
}

.mytitletextblue {
    color: #74d1f6;
}

.posterbt {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    border-radius: 30px;
    padding: 15px 25px;
    border-style: solid;
    border-color: #43bb8c;
    width: 320px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.posterbt:hover {
    background-color: rgba(118, 255, 185, 0.37);
    color: #ffffff;
    border-color: #43bb8c;
}

.estimerbt {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    border-radius: 30px;
    padding: 15px 25px;
    border-style: solid;
    border-color: #3F68B2;
    width: 320px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.estimerbt:hover {
    background-color: rgba(90, 187, 255, 0.37);
    color: #ffffff;
    border-color: #3F68B2;
}

.mybuttons {
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 66px;
    margin-bottom: 70px;
}
.downarrow {
    width: 70px;
    position: absolute;
    margin-left: -35px;
    bottom: 40px;
    cursor: pointer;
}
@media (min-width:768px) {
    .myxl {
        width: 500px;
    }
}

@media (max-width:767px) {
    .mysm {
        width: 300px;
        border: 5px solid #73d0f5;
    }
}

@media (max-width:767px) {
    .txtsm {
        font-size: 47px;
    }
}

@media (max-width:767px) {
    .mylogosm {
        width: 100px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (min-width:768px) {
    .mylogo {
        width: 150px;
        margin-bottom: 25px;
    }
}

@media (max-width:767px) {
    .resumcontainer {
        max-height: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}