<div data-pg-name="maincontainer" style="background-image: url('../../../assets/images/coding-1853305_1280.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;" data-pg-collapsed>
    <div data-pg-name="intro" class="myintro d-flex flex-column justify-content-center align-items-center">
        <div data-pg-name="logo" class="mylogo" data-pg-collapsed>
            <img [src]="logoLink" class="mylogosm mylogo" alt="logo"/>
        </div>
        <div data-pg-name="title" class="mytitle d-flex justify-content-center align-items-center flex-row myxl mysm" data-pg-collapsed>
            <p class="mytitletext txtsm">SOFT</p>
            <p class="mytitletext mytitletextblue txtsm">&amp;data</p>
        </div>
        <p class="sectitle text-center" data-pg-name="sectitle">La référence du digital</p>
        <div class="container d-flex flex-column align-items-center resumcontainer" data-pg-name="resume">
            <p class="text-center" style="font-size: 20px;
    color: #afedfd;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
        </div>
        <div class="container d-flex flex-row align-items-center mybuttons flex-lg-nowrap flex-wrap flex-sm-wrap justify-content-center align-items-sm-center justify-content-lg-between flex-sm-row flex-lg-row d-sm-flex d-lg-flex justify-content-sm-center" data-pg-name="buttons">
            <button (click)="openDialog()" type="button" class="btn btn-light posterbt" data-pg-name="cusbutton">Poster une demande de devis</button>
            <!-- <button [routerLink]="'../estimate'" (click)="toEstimation()" type="button" class="btn btn-light estimerbt" data-pg-name="cusbutton"> Estimez votre projet </button> -->
            <button (click)="toEstimation()" type="button" class="btn btn-light estimerbt" data-pg-name="cusbutton"> Estimez votre projet </button>
        </div>
        <a href="#arrowdownimg">
            <img id="arrowdownimg" src="../../../assets/images/downarrow.svg" class="downarrow animate__animated animate__pulse animate__infinite"/>
        </a>
    </div>
</div>