<mat-toolbar color="primary">
    <span>RESULTAT DE L'ESTIMATION</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center who-are-font">C'est parfait</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1 class="who-are-font text-center">Votre projet est éstimé à:
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12  d-flex justify-content-center">
        <button mat-raised-button color="primary" class="total-button text-center">{{estimateService.total}} €</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-5">
        <mat-form-field class="full-width">
            <mat-label>Telephone</mat-label>
            <input type="tel" matInput>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>
    <div class="col-md-5">
        <mat-form-field class="full-width">
            <mat-label>Adresse mail</mat-label>
            <input type="mail" matInput>
            <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
    </div>
    <div class="col-md-2">
        <button mat-raised-button color="primary" class="text-center">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>