<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1> {{ this.commonService.dataFromDb.experience[0]?.title1}}</h1>
        </div>
    </div>
    <div class="row">
        <ng-container *ngIf="this.commonService.dataFromDb.experience[0]?.childs.length > 0">
            <div class="col-xs-6 col-sm-3" data-aos="fade-right" *ngFor="let child of this.commonService.dataFromDb.experience[0].childs">
                <div class="inner-content text-center">
                    <div class="c100 p{{child.description}} center">
                        <span>{{child.description}}</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <p class="blue-color"><strong>{{child.title1}}</strong></p>
                </div>
            </div>
        </ng-container>
    </div>
</div>
