<!-- <div class="who-are">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="who-are-font who-are-title" data-aos="fade-right">
					{{this.commonService.dataFromDb.who_are_we[0]?.title1}}</h1>
				<p data-aos="fade-left">
					{{this.commonService.dataFromDb.who_are_we[0]?.description}}
				</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<h1 class="text-center right-text" data-aos="flip-up">La référence du digital</h1>
				!-- <ng-container *ngIf="this.commonService.dataFromDb.who_are_we[0].childs.length > 0">
				<div class="col-md-12" *ngFor="let child of this.commonService.dataFromDb.who_are_we[0].childs">
						<p data-aos="flip-up">{{child.description}}</p>
					</div>
				</ng-container> --
			</div>
			<div class="col-md-4 center">
				<h2><strong>Centre de compétences et de développement</strong></h2>
				<br>
				<br>
				<p>MADAGASCAR - Antananarivo</p>
				<br>
				<p>SOFT & DATA, startup à Madagascar pour la digitalisation de votre idée,
					Des ingénieur compétent pour vous servir des biens sur les domaines suivant:</p>
				<br>
				<p>- <span class="green-color">web</span> : PHP, Javascript,Wordpress, Angular, Symfony, ...</p>
				<p>- <span class="green-color">mobile</span> : xamarin,flutter,nativescript,ionic ...</p>
				<br>
			</div>
			<div class="col-md-5">
				<div class="row">
					<ng-container *ngIf="this.commonService.dataFromDb.experience[0]?.childs.length > 0">
						<div class="col-xs-6 col-sm-4" data-aos="fade-right"
							*ngFor="let child of this.commonService.dataFromDb.experience[0].childs">
							<div class="inner-content text-center">
								<div class="c100 p{{child.description}} center">
									<span>{{child.description}}</span>
									<div class="slice">
										<div class="bar"></div>
										<div class="fill"></div>
									</div>
								</div>
								<p class="green-color text-center center"><strong>{{child.title1}}</strong></p>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div> -->

<!-- NEW CODE (mahery) -->

<div data-pg-name="maincontainer" class="maincontainer d-sm-flex d-md-flex flex-sm-column flex-md-row justify-content-sm-center align-items-sm-center align-items-md-stretch" data-pg-collapsed>
    <div class="container infocontainer d-flex flex-column" data-pg-collapsed>
        <p class="maintitle" data-aos="fade-right">{{this.commonService.dataFromDb.who_are_we[0]?.title1}}</p>
        <p class="mydescription" data-aos="fade-left">{{this.commonService.dataFromDb.who_are_we[0]?.description}}</p>
        <div class="mylocation d-flex flex-row" data-pg-name="myloc">
            <div style="width: 5px;
    background-color: #fff8a7;" data-pg-name="laftstyle"></div>
            <div class="container">
                <p class="secondarytitle">Centre de compétenceset de développement</p>
                <p class="text-white">MADAGASCAR - Antananarivo</p>
                <p class="text-white">SOFT &amp; DATA, startup à Madagascar pour la digitalisation de votre idée, Des ingénieur compétent pour vous servir des biens sur les domaines suivant:</p>
                <p class="text-white"><b class="secondarytitle">- Web : </b>PHP, Javascript,Wordpress, Angular, Symfony, ...<br> <b class="secondarytitle">- Mobile : </b>xamarin,flutter,nativescript,ionic ...</p>
            </div>
        </div>
    </div>
    <div class="statcontainer d-flex flex-wrap align-content-start" *ngIf="this.commonService.dataFromDb.experience[0]?.childs.length > 0">
        <div  data-aos="fade-right" *ngFor="let child of this.commonService.dataFromDb.experience[0].childs" class="container d-flex flex-column" data-pg-name="myprogres" style="margin-top: 5px;margin-bottom: 5px;width: 160px;height: 70px;" data-pg-collapsed>
            <p style="color: #fff8a7;font-style: italic;">{{child.title1}}</p>
            <div class="progress" style="height: 25px;" data-pg-collapsed>
                <div class="progress-bar" role="progressbar" aria-valuenow="{{child.description}}" aria-valuemin="0" aria-valuemax="100" [style]="setBarLenth(child.description)">
                    <span>{{child.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>