<br>
<div class="row design">
    <div class="col-md-12">
        <h1 class="text-center who-are-font">Concernant le design</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <mat-radio-group aria-label="Concérnant le design" [(ngModel)]="estimateService.designValue" (change)="estimateService.flushPrice()">
            <mat-radio-button [value]="estimateService.integrationPrice" class="margin-75" color="primary">Intégration</mat-radio-button>
            <mat-radio-button [value]="estimateService.integrationConceptionPrice" color="primary">Conception et Intégration</mat-radio-button>
        </mat-radio-group>
    </div>
</div>