/* my-loader.component.css */
.loading-spinner{    
    background-color: whitesmoke;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
    z-index: 999999;
    position: fixed !important; 
}

.loading-spinner img{
    align-self: end;
}

.loading-message{
    text-align: center;
    align-self: start;
}