<app-navbar *ngIf="activeLink !== '/estimate'"></app-navbar>
<main>
  <section id="content" class="content">
    <router-outlet></router-outlet>
  </section>
</main>
<button mat-raised-button class="float hvr-grow-rotate transparent" *ngIf="activeLink !== '/estimate'" [routerLink]="'./estimate'">
  <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" class="transparent">
    <mat-icon>calculate</mat-icon>
  </button>
  <strong style="margin-left: 20px;">Estimez votre projet</strong>
</button>
<app-footer *ngIf="activeLink !== '/estimate'"></app-footer>
<app-my-loader></app-my-loader>