.float {
  position: fixed;
  bottom: 3%;
  right: 20px;
  z-index: 99999;
}

.my-float {
  margin-top: 22px;
}

.transparent {
  background-color: #007bff26;
}

.transparent:hover {
  background-color: #2098d1;
}