<!-- <div class="bgweb">
  <div class="col-md-12 text-center" *ngIf="commonService.isWebCreate === true || commonService.isWebGraph === true" data-aos="fade-down" data-aos-duration="6000">
    <br>
    <h1 class="text-center textgraph who-are-font creation">CREATION WEB</h1>
  </div>

  <ng-container *ngIf="this.commonService.dataFromDb.web_create[0]?.childs.length > 0">
    <ng-container *ngFor="let child of this.commonService.dataFromDb.web_create[0].childs">
      <div [ngStyle]="{'background-color': child.color}" *ngIf="commonService.isWebCreate === true || commonService.isWebGraph === true" data-aos="fade-down" data-aos-duration="6000" class="box">
        <h1 class="text-center web who-are-font" [ngStyle]="{'color': child.color2}"><strong>{{child.title1}}</strong>
        </h1>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="img" src="{{child.img | linkAssets}}" alt="">
            </div>
            <div class="col-md-6">
              <p class="ptext" [ngStyle]="{'color': child.color2}">
                {{child.description}}
              </p>
              <br>
              <div class="row ptext">
                <div class="col-sm-3 col-3 col-md-2" *ngFor="let item of child.contentChildren">
                  <img src="{{item.img | linkAssets}}" alt="" style="width: 100%;height: auto;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </ng-container>
  </ng-container>


  <div class="row head" *ngIf="commonService.isWebCreate === false || commonService.isWebGraph === true" data-aos="fade-up" data-aos-duration="6000">
    <div class="container">
      <div class="col-md-12 text-center">
        <br>
        <h1 class="text-center textgraph who-are-font creation">CREATION GRAPHIQUE</h1>
      </div>
    </div>
  </div>
  <ng-container *ngIf="this.commonService.dataFromDb.graphic[0]?.childs.length > 0">
    <ng-container *ngFor="let child of this.commonService.dataFromDb.graphic[0].childs">
      <div [ngStyle]="{'background-color': child.color}"  *ngIf="commonService.isWebCreate === false || commonService.isWebGraph === true" data-aos="fade-up" data-aos-duration="6000">
        <h1 class="text-center web who-are-font" [ngStyle]="{'color': child.color2}"><strong style="line-height: 1.25;">{{child.title1}}</strong>
        </h1>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="img" src="{{child.img | linkAssets}}" alt="">
            </div>
            <div class="col-md-6">
              <p class="ptext" [ngStyle]="{'color': child.color2}">
                {{child.description}}
              </p>
              <br>
              <div class="row ptext">
                <div class="col-sm-3 col-3 col-md-2" *ngFor="let item of child.contentChildren">
                  <img src="{{item.img | linkAssets}}" alt="" style="width: 100%;height: auto;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </ng-container>
  </ng-container>
</div> -->

<!-- NEW CODE MAHERY -->

<div data-pg-name="maincont" [class]="backlink" data-pg-collapsed>
  <div data-pg-name="overlay" class="d-flex flex-column" style="width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.62);">
      <div class="container mycontaint" data-pg-name="containt">
          <div data-pg-name="headimg" [class]="bannerlink" data-pg-collapsed style="height: 25%;"></div>
          <div class="container d-sm-flex d-md-flex flex-sm-column flex-md-row mybodycontainer flex-column" data-pg-name="bodycontainer" data-pg-collapsed>
              <div class="container menu menusmal d-flex d-sm-flex d-md-flex flex-md-column flex-sm-row flex-row" data-pg-name="menu">
                <ng-container *ngIf="this.commonService.dataFromDb.web_create[0]?.childs.length > 0 && getDatas() > 0">
                  <div *ngFor="let child of showingtab;let i = index" [class]="child.bclass" data-pg-name=".custumbt" (click)="setCurentTab(i)">
                    <div [class]="child.c2" data-pg-name="btstyle"></div>
                    <div class="container d-flex d-sm-flex d-md-flex flex-row flex-sm-row flex-md-row align-items-md-center align-items-sm-center align-items-center justify-content-between justify-content-sm-between justify-content-md-between" style="height: 100%;">
                        <p style="width: 120px; position: relative; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [class]="tabTextColor">{{child.data.title1}}</p>
                        <div style="width: 15%;"><img [src]="getIcon(i)" alt="" style="width: 100%;"></div>
                    </div>
                </div>
                </ng-container>  
                  <!-- <div class="container mcustumbt mycusbtn d-flex d-sm-flex d-md-flex flex-column flex-sm-column flex-md-row inactive" data-pg-name=".custumbt">
                      <div class="btstylelg btstylemd stinactive" data-pg-name="btstyle"></div>
                      <div class="container d-flex d-sm-flex d-md-flex flex-row flex-sm-row flex-md-row justify-content-sm-center justify-content-center justify-content-md-center align-items-md-center align-items-sm-center align-items-center" style="height: 100%;">
                          <p [class]="tabTextColor">Paragraph</p>
                      </div>
                  </div> -->
              </div>
              <div *ngIf="menucontainer !== undefined" class="container mainbodydesk mainbodymob flex-column d-flex align-items-center" data-pg-name="mainbody">
                  <div class="titlecontainer d-flex flex-column mtytlelg mytitlesm d-md-flex flex-md-row justify-content-md-around align-items-md-center align-items-center justify-content-center">
                      <button type="button" data-pg-name="titlebt" class="mytitlebt hvr-float-shadow" (click)="setPage(1)">CREATION WEB</button>
                      <button type="button" data-pg-name="titlebt" class="mytitlebt2 hvr-float-shadow" (click)="setPage(-1)">CREATION GRAPHIQUE</button>
                  </div>
                  <div class="container flex-column d-flex align-items-center" style="overflow-y: auto;">
                    <img src="{{menucontainer.img | linkAssets}}" class="myimg" data-pg-collapsed />
                    <p class="cutitle">{{menucontainer.title1}}</p>
                    <div class="container">
                        <p style="text-align: center;">{{menucontainer.description}}</p>
                    </div>
                    <div class="container d-flex flex-row justify-content-center align-items-center flex-wrap">
                        <img *ngFor="let icimg of menucontainer.contentChildren" src="{{icimg.img | linkAssets}}" class="logoimg" />
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> 