@font-face {
  font-family: "who-are";
  src: url("./who-are.otf");
}

@font-face {
  font-family: "price";
  src: url("./price.ttf");
}

@font-face {
  font-family: "calculate";
  src: url("./calculate.ttf");
}

@font-face {
  font-family: "rubic";
  src: url("./rubik.ttf");
}

@font-face {
  font-family: "aileron";
  src: url("./aileron.otf");
}

.who-are-font {
    font-family: 'who-are' !important;
}

.price {
    font-family: 'price' !important;
}

.calculate {
    font-family: 'calculate' !important;
}

.rubik {
    font-family: 'rubik' !important;
}

.aileron {
    font-family: 'aileron' !important;
}

.price-accent {
    color: #ff4081;
}
