<div class="row head">
	<div class="container">
		<div class="col-md-12 text-center">
			<br>
			<h1 class="text-center">{{commonService.dataFromDb.graphic[0]?.title1}}</h1>
		</div>
	</div>
</div>
<ng-container *ngIf="commonService.dataFromDb.graphic[0]?.childs.length > 0">
	<div class="container" *ngFor="let child of commonService.dataFromDb.graphic[0].childs;let index = index">
		<ng-container *ngIf="index%2 === 0">
			<div class="row">
				<div class="col-md-4 offset-md-2" data-aos="fade-right">
					<img src="{{child.img | linkAssets}}" alt="" class="max-width max-width"
						style="width: 100% !important;">
				</div>
				<div class="col-md-4 custom-text" data-aos="fade-left">
					<h1>{{child.title1}}</h1>
					<p>{{child.description}}</p>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="index%2 !== 0">
			<div class="row">
				<div class="col-md-4 offset-md-2" data-aos="fade-left">
					<h1>{{child.title1}}</h1>
					<p>{{child.description}}</p>
				</div>
				<div class="col-md-4 custom-text" data-aos="fade-right">
					<img src="{{child.img | linkAssets}}" alt="" class="max-width max-width"
						style="width: 100% !important;">
				</div>
			</div>
		</ng-container>
		<br>
	</div>
</ng-container>