<div class="container">
  <div class="row">
    <ng-container *ngFor="let content of data.contentChildren;let index = index">
      <ng-container *ngIf="activeMenu === index">
        <div class="col-md-3">
          <h1 style="color:burlywood; font-size: 30px; "><strong>{{content.title1}}</strong></h1>
          <h2>{{content.title2}}</h2>
          <br>
          <br>
          <p>
            {{content.description}}
          </p>
        </div>
        <div class="col-md-9">
          <img src="{{content.img | linkAssets}}" class="style" alt="">
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="example-button-row">
        <button mat-raised-button [disabled]="activeMenu === 0" (click)="activeMenu = activeMenu - 1">
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-raised-button [disabled]="activeMenu === (data.contentChildren.length - 1)" (click)="activeMenu = activeMenu + 1">
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
