/* You can add global styles to this file, and also import other style files */
$nameSpace: hvr;
@import url("./../node_modules/hover.css/css/hover.css");
@import url("./assets/font/font.scss");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.center-text {
  width: 100%;
  text-align: center;
}
.gris-font {
  color: #545050;
}

.max-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

body {
  text-align: justify;
  overflow-x: hidden !important;
}

.invalid {
  border: 2px solid #dc3545 !important;
}

.green-color {
  color: #34c28e;
}

.mat-fab .mat-button-wrapper {
  padding: 0px 0 !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
