.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
}

.top-45 {
  margin-top: 45%;
}
.text {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px !important;
}
.creation {
  margin-top: -20px;
}

