.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-card {
   margin: 10px 0px 10px 0px;
}

.home {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}