<!-- <div class="bg-proc">
  
  <div class="title container-fluid text-center py-2">
    <h1 style="margin-top:80px;">Processus</h1>
  </div>

  <div class="head-section container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="title2 text-center">Cycle de vie de votre projet</h2>
        <p class="ptext text-left">Nous accompagnons nos clients tout le long du cycle de vie de leurs projets, grâce à la
          performance et rigueur de notre équipe d’Ingénieurs expérimentés, qui leur assurent des travaux de haut
          niveau.</p>
      </div>

      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
        <img class="img-plan" src="assets/processus/plan.jpg">
      </div>
    </div>
  </div>
  <div class="container intro mt-5">
    <div class="row intro-items justify-content-center " data-aos="zoom-in" data-aos-duration="700">
      <div class="col-md-6 text-center">
        <h2 class="title2 title2-center">
          Notre processus de travail
        </h2>

        <p class="ptext ptext-center dark-color">
          Nous avons mis au point une méthode de travail unique qui nous permet d'obtenir, pour nos clients,
          d'excellents
          résultats, peu importe la complexité de leur projet.
        </p>
      </div>

    </div>
  </div>
  <div class="container intro-web-apps ">
    <div class="row intro-web-apps-items justify-content-center" data-aos="zoom-in" data-aos-duration="700">
      <div class="col-md-6 text-center bg-light p-3">
        <h2 class="title2 title2-center">
          Pour la creation web et applications
        </h2>

        <p class="ptext ptext-center dark-color">
          Voici notre processus
        </p>
      </div>
    </div>

  </div>
  <div class="web-app container">
    <div class="row web-app-items my-5 web-app-items1" >
      <div class="col-md-6 etape py-3 px-4 etape-conseil" data-aos="fade-right" data-aos-duration="700" >
        <h3 class="title3 title3-conseil">1- Conseil</h3>
        <p class="ptext ptext-justify dark-color">Nous vous proposons la solution idéale pour répondre exactement à
          vos attentes, en optimisant le coût et en s'engageant sur un meilleur délai. Nous vous accompagnons ainsi
          dans le cadre de l'analyse fonctionnelle de votre projet à partir d'une expression de vos besoins, vous
          accompagner dans la rédaction d'un cahier des charges s'il n'existe pas encore, ou le cas contraire, dans
          l'étude approfondie de celui-ci.</p>
      </div>

      <div class="col-md-6 col-xs-2 py-3 px-4 illust" data-aos="fade-left" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_informed_decision_p2lh.svg">
      </div>


    </div>

    <div class="row web-app-items my-5 web-app-items2 justify-content-end" >
      
      <div class="col-md-6 order-md-1 order-2 py-3 px-4 illust" data-aos="fade-right" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_wireframing_nxyi.svg">
      </div>
      
      <div class="col-md-6 etape order-md-2 order-1 py-3 px-4 etape-design" data-aos="fade-left" data-aos-duration="700">
        <h3 class="title3 title3-design">2- Design</h3>
        <p class="ptext ptext-justify white-color">Notre équipe de UX/UI Designers travaille étroitement avec nos
          Ingénieurs, dans la réalisation de maquette et de charte graphique. Pour s’assurer de l’efficacité et de la
          pertinence de vos applications, dans la mesure où elles seront simples à utiliser, mais également adaptées à
          un large éventail d'usages, toujours basé sur les besoins de l'utilisateur.</p>
      </div>

      

    </div>

    <div class="row web-app-items my-5 web-app-items3" >
      <div class="col-md-6 etape  py-3 px-4 etape-analyse" data-aos="fade-right" data-aos-duration="700">
        <h3 class="title3 title3-analyse">3- Analyse et conception</h3>
        <p class="ptext ptext-justify white-color">Nous vous accompagnons dans la concrétisation de vos idées, sur
          base d'un cahier des charges initial, détaillant l'ensemble des aspects techniques et fonctionnels de votre
          projet, pour une mise en oeuvre efficace. Ainsi, nous nous engageons à vous livrer un site ou une
          application robuste, maintenable et personnalisé(e), avec une approche centrée sur l'utilisateur.</p>
      </div>

      <div class="col-md-6 py-3 px-4 illust" data-aos="fade-left" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_detailed_analysis_xn7y.svg">
      </div>

    </div>

    <div class="row web-app-items my-5 web-app-items4 justify-content-end" >
      
      <div class="col-md-6 order-md-1 order-2 py-3 px-4 illust" data-aos="fade-right" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_programming_2svr.svg">
      </div>
      
      
      <div class="col-md-6 order-md-2 order-1 etape  py-3 px-4 etape-dev" data-aos="fade-left" data-aos-duration="700">
        <h3 class="title3 title3-dev">4- Developement</h3>
        <p class="ptext ptext-justify dark-color">Notre expertise nous permet de répondre à vos demandes les plus
          complexes, avec un accompagnement de bout en bout pendant la réalisation de votre projet. Une équipe
          d'Ingénieurs expérimentés se met à votre disposition pour assurer une programmation de haut niveau,
          conformément aux besoins spécifiés dans le cahier des charges.</p>
      </div>

      
      

    </div>

    <div class="row web-app-items my-5 web-app-items5" > 
      <div class="col-md-6 etape  py-3 px-4 etape-test" data-aos="fade-right" data-aos-duration="700">
        <h3 class="title3 title3-test">5- Test & qualite</h3>
        <p class="ptext ptext-justify white-color">Une équipe agile et dédiée, d'Ingénieurs, experts, se mobilise pour
          assurer une qualité irréprochable de vos livrables. Avec une maîtrise parfaite de la méthodologie SCRUM, sur
          base de l'itératif et l'incrémental.</p>
      </div>

      <div class="col-md-6 py-3 px-4 illust" data-aos="fade-left" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_mobile_testing_reah.svg">
      </div>

    </div>

    <div class="row web-app-items my-5 web-app-items6 justify-content-end" >
      
      <div class="col-md-6 order-md-1 order-2 py-3 px-4 illust" data-aos="fade-right" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_launching_125y.svg">
      </div>
      
      <div class="col-md-6  order-md-2 order-1 etape   py-3 px-4 etape-deploiement" data-aos="fade-left" data-aos-duration="700">
        <h3 class="title3 title3-deploiement">6- Deploiement</h3>
        <p class="ptext ptext-justify white-color">Dernière étape tactique, mais très importante ! Après son passage
          sous les mains expertes de nos ingénieurs qualité, nous vous garantissons un solide processus de mise en
          production de votre projet fini et son bon fonctionnement. Notre engagement ? Un grand respect des normes de
          déploiement, avec les outils les plus adaptés.</p>
      </div>
    </div>

    <div class="row web-app-items my-5 web-app-items7" >
      <div class="col-md-6 etape  py-3 px-4 etape-maintenance" data-aos="fade-right" data-aos-duration="700">
        <h3 class="title3 title3-maintenance">7- Maintenance</h3>
        <p class="ptext ptext-justify dark-color">Pour l'ensemble des projets que nous traitons, nous garantissons un
          service de maintenance corrective (selon le délai préétabli en démarrage des travaux), ou évolutive en
          fonction de vos besoins. Possibilité également de mettre à votre disposition, des ressources dédiées pour un
          besoin ponctuel.</p>
      </div>

      <div class="col-md-6 py-3 px-4 illust" data-aos="fade-left" data-aos-duration="700">
        <img style="transform: scaleX(-1);" class="img-fluid" src="assets/processus/undraw_maintenance_cn7j.svg">
      </div>

    </div>



  </div>


  --INTRO PROCESSUS CREATION GRAPHIQUE--
  <div class="container intro-web-apps ">
    <div class="row intro-web-apps-items justify-content-center" data-aos="zoom-in" data-aos-duration="700">
      <div class="col-md-6 text-center bg-light p-3">
        <h2 class="title2 title2-center">
          Pour la creation graphique
        </h2>

        <p class="ptext ptext-center dark-color">
          Voici notre processus
        </p>
      </div>
    </div>

  </div>


  ---PROCESSUS CREATION GRAPHIQUE--
  <div class="web-app container">
    <div class="row web-app-items my-5 web-app-items1" >
      <div class="col-md-6 etape py-3 px-4 etape-conseil" data-aos="fade-right" data-aos-duration="700">
        <h3 class="title3 title3-conseil">1- Conseil</h3>
        <p class="ptext ptext-justify dark-color">Nous vous proposons la solution idéale pour répondre exactement à
          vos attentes, en optimisant le coût et en s'engageant sur un meilleur délai. Nous vous accompagnons ainsi
          dans le cadre de l'analyse fonctionnelle de votre projet à partir d'une expression de vos besoins, vous
          accompagner dans la rédaction d'un cahier des charges s'il n'existe pas encore, ou le cas contraire, dans
          l'étude approfondie de celui-ci.</p>
      </div>


      <div class="col-md-6 py-3 px-4 illust" data-aos="fade-left" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_creativity_wqmm.svg">
      </div>
    </div>

    <div class="row web-app-items my-5 web-app-items2 justify-content-end">
      
      <div class="col-md-6 order-md-1 order-2 py-3 px-4 illust" data-aos="fade-right" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_image_post_24iy.svg">
      </div>
      
      <div class="col-md-6 order-md-2 order-1 etape  py-3 px-4 etape-design"  data-aos="fade-left" data-aos-duration="700">
        <h3 class="title3 title3-design">2- Design</h3>
        <p class="ptext ptext-justify white-color">Notre équipe de UX/UI Designers travaille étroitement avec nos
          Ingénieurs, dans la réalisation de maquette et de charte graphique. Pour s’assurer de l’efficacité et de la
          pertinence de vos applications, dans la mesure où elles seront simples à utiliser, mais également adaptées à
          un large éventail d'usages, toujours basé sur les besoins de l'utilisateur.</p>
      </div>


    </div>

    <div class="row web-app-items my-5 web-app-items3" >
      <div class="col-md-6 etape  py-3 px-4 etape-analyse" data-aos="fade-right" data-aos-duration="700">
        <h3 class="title3 title3-analyse">3- Analyse et conception</h3>
        <p class="ptext ptext-justify white-color">Nous vous accompagnons dans la concrétisation de vos idées, sur
          base d'un cahier des charges initial, détaillant l'ensemble des aspects techniques et fonctionnels de votre
          projet, pour une mise en oeuvre efficace. Ainsi, nous nous engageons à vous livrer un site ou une
          application robuste, maintenable et personnalisé(e), avec une approche centrée sur l'utilisateur.</p>
      </div>

      <div class="col-md-6 py-3 px-4 illust" data-aos="fade-left" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_analyze_17kw.svg">
      </div>

    </div>

    <div class="row web-app-items my-5 web-app-items4 justify-content-end" >
      
      
      <div class="col-md-6 order-md-1 order-2 py-3 px-4 illust" data-aos="fade-right" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_Work_time_re_hdyv.svg">
      </div>
      
      <div class="col-md-6 etape order-md-2 order-1 py-3 px-4 etape-dev" data-aos="fade-left" data-aos-duration="700">
        <h3 class="title3 title3-dev">4- Developement</h3>
        <p class="ptext ptext-justify dark-color">Notre expertise nous permet de répondre à vos demandes les plus
          complexes, avec un accompagnement de bout en bout pendant la réalisation de votre projet. Une équipe
          d'Ingénieurs expérimentés se met à votre disposition pour assurer une programmation de haut niveau,
          conformément aux besoins spécifiés dans le cahier des charges.</p>
      </div>

    </div>

    <div class="row web-app-items my-5 web-app-items5">
      <div class="col-md-6 etape  py-3 px-4 etape-test"  data-aos="fade-right" data-aos-duration="700">
        <h3 class="title3 title3-test">5- Test & qualite</h3>
        <p class="ptext ptext-justify white-color">Une équipe agile et dédiée, d'Ingénieurs, experts, se mobilise pour
          assurer une qualité irréprochable de vos livrables. Avec une maîtrise parfaite de la méthodologie SCRUM, sur
          base de l'itératif et l'incrémental.</p>
      </div>

      <div class="col-md-6 order-md-1 order-2 py-3 px-4 illust" data-aos="fade-left" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_code_inspection_bdl7.svg">
      </div>

    </div>

    <div class="row web-app-items my-5 web-app-items6 justify-content-end" >
      
      <div class="col-md-6 order-md-1 order-2 py-3 px-4 illust" data-aos="fade-right" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_Steps_re_odoy.svg">
      </div>
      
      <div class="col-md-6 etape  order-md-2 order-1  py-3 px-4 etape-deploiement" data-aos="fade-left" data-aos-duration="700">
        <h3 class="title3 title3-deploiement">6- Deploiement</h3>
        <p class="ptext ptext-justify white-color">Dernière étape tactique, mais très importante ! Après son passage
          sous les mains expertes de nos ingénieurs qualité, nous vous garantissons un solide processus de mise en
          production de votre projet fini et son bon fonctionnement. Notre engagement ? Un grand respect des normes de
          déploiement, avec les outils les plus adaptés.</p>
      </div>
    </div>

    <div class="row web-app-items my-5 web-app-items7" >
      <div class="col-md-6 etape  py-3 px-4 etape-maintenance" data-aos="fade-right" data-aos-duration="700">
        <h3 class="title3 title3-maintenance">7- Maintenance</h3>
        <p class="ptext ptext-justify dark-color">Pour l'ensemble des projets que nous traitons, nous garantissons un
          service de maintenance corrective (selon le délai préétabli en démarrage des travaux), ou évolutive en
          fonction de vos besoins. Possibilité également de mettre à votre disposition, des ressources dédiées pour un
          besoin ponctuel.</p>
      </div>

      <div class="col-md-6 py-3 px-4 illust" data-aos="fade-left" data-aos-duration="700">
        <img class="img-fluid" src="assets/processus/undraw_clean_up_ucm0.svg">
      </div>


    </div>
  </div>
</div> -->

<div data-pg-name="maincontainer" class="maincontainer" data-pg-collapsed>
  <div style="height: 80px;background-color: #38cdd5;"></div>
  <div class="d-flex flex-column align-items-center" style="padding-top: 10px;padding-bottom: 10px;width: 100%;background-color: #38cdd5;" data-pg-collapsed>
      <h4 style="color: #ffffff;font-size: 35px;">{{contentdata.title}}</h4>
  </div>
  <div class="myhead heigth" data-pg-name="head" data-pg-collapsed>
      <div style="width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.72);padding-left: 15px;padding-right: 15px;" data-pg-name="overlay" class="d-flex d-md-flex flex-md-row flex-column align-items-center align-items-md-center justify-content-around justify-content-md-around">
          <div *ngFor="let itm of contentdata.intro" class="container d-flex flex-row detail">
              <div class="bstyle" data-pg-name="style"></div>
              <div data-aos="fade-right" class="container mytcont d-flex flex-column" data-pg-name="tcont">
                  <p data-pg-name="mtitle" class="mtitle">{{itm.title}}</p>
                  <p data-pg-name="txtdetails" class="mytxtdetails">{{itm.description}}</p>
              </div>
          </div>
      </div>
  </div>
  <div class="mybody" data-pg-name="body" data-pg-collapsed>
      <div data-pg-name="overlay" style="background-color: rgba(255, 255, 255, 0.8);">
          <div *ngFor="let itm of contentdata.elements" class="d-flex flex-column bcont" data-pg-name="bcont" style="padding-top: 24px;">
              <div class="container d-flex flex-row justify-content-between align-items-center mytitlesec" data-pg-name="mtitle">
                  <div data-pg-name="bar" style="width: 25%;height: 3px;background-color: #005cab;"></div>
                  <p class="sectitle">{{itm.title}}</p>
                  <div data-pg-name="bar" style="width: 25%;height: 3px;background-color: #005cab;"></div>
              </div>
              <div class="mycardcontainer d-flex flex-row flex-wrap container justify-content-center">
                <!-- <div data-aos="zoom-in"> -->
                  <div *ngFor="let childItm of itm.dataliste" class="card mycard d-flex align-items-center hvr-grow-shadow">
                    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 150px; max-width: 200px;" data-pg-collapsed>
                      <img data-aos="zoom-in" class="card-img-top cimage" style="max-height: 150px;" alt="Card image cap" [src]="childItm.img" />
                    </div>
                    <!-- <img class="card-img-top cimage" alt="Card image cap" [src]="childItm.img" /> -->
                    <div class="card-body" style="position: relative; top: -15px;">
                        <div data-aos="zoom-in" data-pg-name="ctitle" class="d-flex flex-column">
                            <div data-pg-name="ctelem" class="d-flex flex-row" style="word-break: normal;">
                                <div data-pg-name="cnum" class="d-flex flex-column justify-content-center align-items-center myctnum">
                                    <p style="margin-bottom: 0px;color: #ffffff;font-weight: bold;">{{childItm.num}}</p>
                                </div>
                                <h4 class="card-title" style="font-size: 20px;margin-bottom: 18px;color: #74d1f6;">{{childItm.title}}</h4>
                            </div>
                            <div data-pg-name="ctbd" style="background-color: #74d1f6;height: 5px;position: relative;top: -13px;"></div>
                        </div>
                        <p data-aos="zoom-in" class="card-text" style="text-align: center;">{{childItm.description}}</p>
                    </div>
                </div>
                <!-- </div> -->
              </div>
          </div>
      </div>
  </div>
</div>