
.bg-proc{
  background-image: url("./background-shapes2.png");
  background-attachment: fixed;
}


/* title section */
html body {
  margin: 0;
  padding: 0;

  background-image: ("./background-shapes2.png");
  background-attachment: fixed;
}

.title {
  background-color: #34afc2;
  opacity: 0.6;
  
  
}

.title h1 {
  color: #ffffff;
  font-family: 'who-are';
  font-size : 4em;
  
}

/*------head section----------*/

.title2 {
  font-family: "Helvetica Now";
  font-size: 25px;
  font-weight: bold;
  color: #2f4858;
}
.ptext {
  font-family: "Helvetica Now";
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
  color: #6e6e6e;
}

.img-plan {
  width: 100%;
  height: auto;
  opacity: 0.6;
  box-shadow: 0 0 5px gray;
}

/*--------- intro section------ */

.title2-center {
  text-align: center;
  font-size: 30px;
}

.ptext-center {
  text-align: center;
}

.dark-color {
  color: #434a54;
}

/*--------- intro-web-apps- section------ */

.intro-web-apps-items {
  margin-top: 120px;
}

/*--------- web-app section------ */
.web-app-items {
  align-items: center;
}

.title3 {
  font-family: "Helvetica Now";
  font-weight: bold;
  font-size: 25px;
}

.title3-conseil,
.title3-dev,
.title3-maintenance {
  color: #3468c2;
}

.title3-design,
.title3-test {
  color: #ffffff;
}

.title3-analyse,
.title3-deploiement {
  color: #ffffff;
}

.ptext-justify {
  text-align: justify;
}

.white-color {
  color: #ffffff;
}

.etape {
  border-radius: 5px;
  box-shadow: 0 0 5px gray;

  height: fit-content;


}
.etape-design,
.etape-test {
  background-color: #34afc2;
  box-shadow: 0 0 5px #34afc2;
}

.etape-analyse,
.etape-deploiement {
  background-color: #34c28e;
  box-shadow: 0 0 5px #34c28e;
}
//code mahery
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.myhead {
    width: 100%;
    background-image: url('coding-1853305_1280.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.detail {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bstyle {
    background-color: #fff8a7;
    width: 10px;
}
.mtitle {
    color: #fff8a7;
    font-size: 22px;
    font-style: italic;
}

.mytxtdetails {
    color: #ffffff;
}

@media (min-width:768px) {
    .heigth {
        height: 20vh;
    }
}

.mybody {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('web-1738168_1280.jpg');
}

.bcont {
    width: 100%;
    height: 100%;
}

.mytitlesec {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sectitle {
    margin-bottom: 0px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: #005cab;
    padding-left: 10px;
    padding-right: 10px;
}

.mycardcontainer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.mycard {
    width: 225px;
    margin: 10px;
}

.cimage {
    width: 90%;
    margin-top: 10px;
}

.myctnum {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 27px;
    background-color: #74d1f6;
    left: -10px;
}